.motograu-game {
  background: #1f2236;
}

.motograu-game .transaction-bar {
  --tw-bg-opacity: 0.2;
  --tw-border-opacity: 0.2;
}

.motograu-game .crash-form {
  --tw-bg-opacity: 0.2;
  --tw-border-opacity: 0.2;
}

.motograu-game .results-bar {
  background: #272b41;
}

.motograu-game .chat-container {
  background: #374151;
}
